.newsletter-container {
    width: 60vw;
    height: 25vw;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    border-radius: 9px;
    overflow: hidden;
}

.cta {
    display: grid;
    background-color: #0668E1;
    padding: 2.4rem;
}

.cta-text {
    margin: 0;
    padding: 0;
    color: #fff;
}

.cta-text h1 {
    font-size: 2.2rem;
}

.cta-text p {
    font-size: 1.2rem;
}

.cta-form {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.cta-input {
    border: none;
    outline: none;
    width: 70%;
    height: 40%;
    border-radius: 5px;
    color: #131722;
    font-size: 1.2rem;
    padding: 0 1rem;
    transition: .3s;
}

.cta-input:focus,
.cta-input:hover {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;}

.cta-form-btn {
    height: 40%;
}

.cta-img-container {
    overflow: hidden;
}

.cta-img {
    height: 100%;
    width: auto;
    transform: translateX(-50%);
}