.trend-page {
    display: grid;
    place-items: center;
    width: 100vw;
    height: auto;
}

.trend-content {
    background-color: #131722;
    width: 75vw;
    padding: 2rem;
    border-radius: 9px;
    display: grid;
    place-items: center;
}

.label {
    font-size: 1rem;
}

#filled-basic {
    color: #d1d4dc;
}

#filled-basic:focus,
#filled-basic:hover {
    background-color: #313a52;
}

.trend-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.form-button {
    max-height: 3rem;
}

@media (max-width: 40em) {
    .trend-content {
        width: 85vw;
    }

    .label {
        font-size: .8rem;
    }
}

@media (max-width: 23.75em) {
    .label {
        font-size: .6rem;
    }
}