.container {
    margin: 1rem 3rem 0;
    padding: 3.5rem 0 10rem;
    width: auto;
    height: auto;
    background-color: #131722;
    display: grid;
    gap: 10rem;
    place-items: center;
    border-radius: 9px;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2.4rem;

}

.cards > div {
    border-radius: 9px;
    overflow: hidden;
}

/* STYLES FOR META CARD*/

.item1 {
    background: #f6f6f6;
}

.item1 .card-top, .item1 .company-news-link {
    background-color: #0668E1;
    color: #f6f6f6;
}

/* STYLES FOR APPLE CARD*/

.item2 {
    background-color: #050505;
}

.item2 .card-top, .item2 .company-news-link {
    background-color: #f6f6f6;
    color: #050505;
}

/*STYLES FOR AMAZON CARD*/

.item3 {
    background: #050505;
}

.item3 .card-top, .item3 .company-news-link {
    background-color: #FF9900;
    font-family: 'Amazon Ember', sans-serif;
    color: #050505;
}

/*STYLES FOR NETFLIX CARD*/

.item4 {
    background-color: #E50914;
}

.item4 .card-top, .item4 .company-news-link {
    font-family: 'Bebas Neue', sans-serif;
    color: #E50914;
    background-color: #050505;
}

.item4 .red, .item4 .green {
    color: #050505;
}

/*STYLES FOR GOOGLE CARD*/

.item5 {
    background: #EEEEEE;
}

.item5 .card-top, .item5 .company-news-link {
    color: #333;
    font-family: 'Product Sans', serif;
}


