body {
    color: #d1d4dc;
}

.App {
    display: grid;
}

.main-title {
    display: grid;
    place-items: center;
}

.main-title h1 {
    font-size: 2.4rem;
}

.main-title p {
    font-size: 1.6rem;
    margin: 0;
}