.newslist-container {
    width: 100vw;
    display: grid;
    place-items: center;
}

.article-list {
    display: grid;
    place-items: center;
    grid-template-columns: 26vw 26vw 26vw;
    gap: 5rem;
    padding: 0;
}

.article-item {
    background-color: #131722;
    list-style: none;
    padding: .8rem;
    width: 100%;
    border-radius: 9px;
    animation: appear-up 1s;
    cursor: pointer;
    transition: .3s;
}

.article-item:hover {
    transform: translateY(-1.5rem);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background-color: rgba(41, 98, 255, 0.19);
}

@keyframes appear-up {
    from {
        opacity: 0;
        transform: translateY(3rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.article-headline {
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 2.2rem;
    margin: 0;
}

.link-clearup {
    text-decoration: none;
    color: #d1d4dc;
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.article-thumbnail {
    width: 100%;
    height: auto;
    border-radius: 9px;
}

.article-summary {
    font-size: 1.6rem;
}

.article-source {
    font-size: .8rem;
    margin-bottom: 0;
}

.article-datetime {
    font-size: .8rem;
    margin: 0;
}

@media (max-width: 48.31em) {
    .article-list {
        grid-template-columns: 40vw 40vw;
        row-gap: 1.4rem;
    }

    .article-item {
        width: 40vw;
        padding: 2rem;
    }
}

@media (max-width: 44.87em) {
    .article-list {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .article-item {
        width: 80vw;
        padding: 2rem;
    }

}