.page-title {
    margin: 0 auto;
    display: grid;
    place-items: center;
    font-size: 1.6rem;
    row-gap: 1rem;
    animation: appear 1s;
}

.page-title h1 {
    margin-bottom: 0;
}

.page-title p {
    margin-top: 0;
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}